bcrypt==3.2.0
blinker==1.4
cffi==1.15.0
click==8.0.1
colorama==0.4.4
cryptography==35.0.0
Flask==2.0.2
Flask-Mail==0.9.1
Flask-Odoo==0.4.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
paramiko==2.8.0
pycparser==2.20
PyNaCl==1.4.0
schematics==2.1.1
six==1.16.0
SQLAlchemy==1.4.25
Werkzeug==2.0.2
